<!DOCTYPE html>
<html>
<head>
	<title>Agendar Visitas</title>
</head>
<body>


<form >
	<h4>Agendar Visitas</h4>
	
	<input type="text" name="nome" placeholder="Nome">
	
	<br>

	<input type="time" name="hora">
	<input type="date" name="data">
	
	<br>
	
	<input type="text" name="local" placeholder="Local">
	
	<br>
	
	<input type="text" name="telefones" placeholder="Telefone">
	
	<br>

	<input type="text" name="obs" placeholder="Observações">
	
	<br>

	<input type="submit" name="agendar" value="agendar">

</form>


</body>
</html>