<!DOCTYPE html>
<html>
<head>
	<title>Agendar Visitas</title>
</head>
<body>


<form action="/gravar" method="POST">
	<h4>Agendar Visitas</h4>
	
	<input type="text" name="nome" id="nome" placeholder="Nome">
	
	
	<br>

	<input type="time" name="horaAgenda">
	<input type="date" name="dataAgenda">
	
	<br>
	
	<input type="text" name="local" placeholder="Local">
	
	<br>
	
	<input type="text" name="telefone" placeholder="Telefone">
	
	<br>

	<input type="text" name="tags" placeholder="Observações">
	
	<br>

	<input type="submit" value="agendar">

</form>


</body>
</html>